.App{
  width: 100vw;
  height: 100vh;
  display:                grid;  
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;  
  grid-template-rows:     1fr 1fr 1fr 1fr 1fr 1fr;  
  grid-template-areas:  
  "r t t t t t"  
  "r m m m m m"  
  "r m m m m m"  
  "r m m m m m"  
  "r m m m m m"  
  "r s s s s s";
}

body{
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


